.contact {
  padding-top: 12px;
}
.contact--title {
  width: 409px;
  margin: auto;

  font-family: "Raleway";
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  text-transform: uppercase;
  color: #212121;
  margin-bottom: 70px;
}
.contact-text {
  width: 363px;
  height: 19px;
  margin: auto;

  font-family: "Open Sans";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 19px;
  /* identical to box height */
  color: #86878b;
  text-align: center;
}
.line {
  width: 64px;
  height: 2px;
  border: 1px solid #e72424;
}

.contact-left {
 width: 40%;
margin-bottom: 38px;

}
.contact-form{
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    display: flex;
    align-items: center;
    color: #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
    margin-bottom: 32px;

}

.contact-form--item label {
    width: 100px;
}

.contact-form--input {
    font-family: inherit;
    border: none;
    line-height: 50px;
    width: 100%;
    padding: 0 14px;
}

.contact-form--right {
    width: 40%;
    margin-bottom: 38px;
}

.contact-card--message {}

.contact-message--textarea {
    border: none;
    color: #BDBDBD;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-align: left;
    border-bottom: 1px solid #BDBDBD;
    width: 100%;
    font-family: 'Raleway';

    padding: 14px;
}

.contact-button {
    cursor: pointer;
    background-color: #EC7979;
    color: #FFFFFF;
    box-sizing: border-box;
    width: 166px;
    height: 42px;
    border: 1px solid #FFFFFF;
    display: block;
    margin: auto;
    font-weight: 600;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    font-family: 'Raleway';
}
